:root {
  padding: 2em;
}
.accidental {
  vertical-align: super;
  font-size: 0.6em;
}
.circle-of-fifths {
  font-family: 'Volkhov';
  font-size: 3.75vw;
  width: 75vw;
  height: 75vw;
  border: 1px solid #efefef;
  margin: auto;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1.875vw 1.875vw rgba(0,0,0,0.25), inset 0 0 0 9vw white, inset 0 0 0 16vw #ccc;
}
.circle-of-fifths::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  border: 1px solid #efefef;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0 1.875vw 1.875vw rgba(0,0,0,0.25);
}
.key {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.key::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgba(0,0,0,0.1);
  height: 75vw;
}
.key > * {
  position: absolute;
}
.key > .major {
  text-transform: uppercase;
}
.key > .minor {
  text-transform: lowercase;
}
.key > .sig {
  font-size: 0.75em;
  color: #999;
}
.key:nth-child(1) >.major {
  transform: translate(4.5924254968026E-16vw,-7.5vw) translate(-50%,-50%);
}
.key:nth-child(1) >.minor {
  transform: translate(-3.8270212473355E-16vw,6.25vw) translate(-50%,-50%);
}
.key:nth-child(1) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(1)::before {
  transform: translate(-1.5155004139448E-15vw,24.75vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(0rad);
}
.key:nth-child(2) >.major {
  transform: translate(3.75vw,-6.4951905283833vw) translate(-50%,-50%);
}
.key:nth-child(2) >.minor {
  transform: translate(-3.125vw,5.4126587736527vw) translate(-50%,-50%);
}
.key:nth-child(2) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(2)::before {
  transform: translate(-12.375vw,21.434128743665vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(0.5235987755983rad);
}
.key:nth-child(3) >.major {
  transform: translate(6.4951905283833vw,-3.75vw) translate(-50%,-50%);
}
.key:nth-child(3) >.minor {
  transform: translate(-5.4126587736527vw,3.125vw) translate(-50%,-50%);
}
.key:nth-child(3) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(3)::before {
  transform: translate(-21.434128743665vw,12.375vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(1.0471975511966rad);
}
.key:nth-child(4) >.major {
  transform: translate(7.5vw,0vw) translate(-50%,-50%);
}
.key:nth-child(4) >.minor {
  transform: translate(-6.25vw,-0vw) translate(-50%,-50%);
}
.key:nth-child(4) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(4)::before {
  transform: translate(-24.75vw,-0vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(1.5707963267949rad);
}
.key:nth-child(5) >.major {
  transform: translate(6.4951905283833vw,3.75vw) translate(-50%,-50%);
}
.key:nth-child(5) >.minor {
  transform: translate(-5.4126587736527vw,-3.125vw) translate(-50%,-50%);
}
.key:nth-child(5) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(5)::before {
  transform: translate(-21.434128743665vw,-12.375vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(2.0943951023932rad);
}
.key:nth-child(6) >.major {
  transform: translate(3.75vw,6.4951905283833vw) translate(-50%,-50%);
}
.key:nth-child(6) >.minor {
  transform: translate(-3.125vw,-5.4126587736527vw) translate(-50%,-50%);
}
.key:nth-child(6) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(6)::before {
  transform: translate(-12.375vw,-21.434128743665vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(2.6179938779915rad);
}
.key:nth-child(7) >.major {
  transform: translate(4.5924254968026E-16vw,7.5vw) translate(-50%,-50%);
}
.key:nth-child(7) >.minor {
  transform: translate(-3.8270212473355E-16vw,-6.25vw) translate(-50%,-50%);
}
.key:nth-child(7) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(7)::before {
  transform: translate(-1.5155004139448E-15vw,-24.75vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(3.1415926535898rad);
}
.key:nth-child(8) >.major {
  transform: translate(-3.75vw,6.4951905283833vw) translate(-50%,-50%);
}
.key:nth-child(8) >.minor {
  transform: translate(3.125vw,-5.4126587736527vw) translate(-50%,-50%);
}
.key:nth-child(8) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(8)::before {
  transform: translate(12.375vw,-21.434128743665vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(3.6651914291881rad);
}
.key:nth-child(9) >.major {
  transform: translate(-6.4951905283833vw,3.75vw) translate(-50%,-50%);
}
.key:nth-child(9) >.minor {
  transform: translate(5.4126587736527vw,-3.125vw) translate(-50%,-50%);
}
.key:nth-child(9) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(9)::before {
  transform: translate(21.434128743665vw,-12.375vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(4.1887902047864rad);
}
.key:nth-child(10) >.major {
  transform: translate(-7.5vw,9.1848509936051E-16vw) translate(-50%,-50%);
}
.key:nth-child(10) >.minor {
  transform: translate(6.25vw,-7.654042494671E-16vw) translate(-50%,-50%);
}
.key:nth-child(10) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(10)::before {
  transform: translate(24.75vw,-3.0310008278897E-15vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(4.7123889803847rad);
}
.key:nth-child(11) >.major {
  transform: translate(-6.4951905283833vw,-3.75vw) translate(-50%,-50%);
}
.key:nth-child(11) >.minor {
  transform: translate(5.4126587736527vw,3.125vw) translate(-50%,-50%);
}
.key:nth-child(11) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(11)::before {
  transform: translate(21.434128743665vw,12.375vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(5.235987755983rad);
}
.key:nth-child(12) >.major {
  transform: translate(-3.75vw,-6.4951905283833vw) translate(-50%,-50%);
}
.key:nth-child(12) >.minor {
  transform: translate(3.125vw,5.4126587736527vw) translate(-50%,-50%);
}
.key:nth-child(12) >.sig {
  transform: translate(-50%,-50%);
}
.key:nth-child(12)::before {
  transform: translate(12.375vw,21.434128743665vw) translate(0%,-50%) rotate(0.26179938779915rad) rotate(5.7595865315813rad);
}
